

:root {
	--bg: #fff9ee;
	--panel: #ffffff;
	--muted: #6b7280;
	--accent: #ff6b6b;
	--accent2: #ffd166;
	--accent3: #a2fcfd;
	--error-color: #c00;
	--text: #101010;
	--shadow: 0 10px 30px rgba(16, 16, 16, 0.08);
	--border: 1px solid rgb(34 34 34 / 1);
	--box-shadow:0 0 #000, 0 0 #000, 2.8px 2.8px 0 0 #222222;
	--max-width: 78rem;
	--border-radius: 9999px;

	--to-be-read: #d6ffd8;
	--read: #fff2c2;
	--currently-reading: #ffd6e6;
}

body {
	background: linear-gradient(180deg, #fff9ee, #fff3d9);
	color: var(--text);
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	
}
.primaty-input {
	box-shadow: 0 0 #000, 0 0 #000, 2.8px 2.8px 0 0 #ffdede99;
	background: #fff;
	border: 1px solid #ffdede99;
}
.btn-primary {
	box-shadow: var(--box-shadow);
	background-color: var(--accent3);
	border-radius: var(--border-radius);
	padding: 10px;
	cursor: pointer;
	transition: all 0.12s ease;
}
.btn-secundary {
  box-shadow: var(--box-shadow);
  background-color: var(--accent2);
	border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
	transition: all 0.12s ease;
}
.btn-secundary:hover:not(:disabled) {
  box-shadow: var(--box-shadow);
}
.btn-primary:hover:not(:disabled) {
	transform: translateY(-6px);
}
.msg {
	padding: 1rem 1.5rem;
	border-radius: 12px;
	margin: 1rem 0;
	font-weight: 700;
	animation: slideIn 0.25s ease;
	border: 2px solid rgba(255, 205, 205, 0.6);
	background: linear-gradient(180deg, #fff7f7, #fffaf0);
}
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-6px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
