@import url('./styles/style.css');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
	font-size: 16px;
	font-family: 'Sour Gummy', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100vh;
}
